extends ../_comp/_shell

block head
	title ProjectName Home

block main
	//-style.
		.hero-image {
			background-image: url('/assets/img/hero.jpg');
			background-size: cover;
			background-position: center; 
			min-height: 70vh;

		}

		.headline1 {
			padding-top: 35%;
			padding-left: 60%;
		}
	p Home content here

block scripts
	//-script(src='/ts/fullPg.js')
	script.
		console.log('pg')
