.ui.fixed.vertical.inverted.sidebar.menu
	a.active.item(href='/home') Dashboard
	a.item(href='/metadata1') Metadata1
	a.item(href='/metadata2') Metadata2
	a.item(href='#') History

.ui.fixed.inverted.menu
	.ui.container
		a.toc.item
			i.sidebar.icon
		a.header.item(href='/home')
			img.logo(src='/assets/images/logo.svg')
			| Admin Console
		a.item.computer_only(href='/home') Dashboard
		a.item.computer_only(href='/metadata1') Metadata1
		a.item.computer_only(href='/metadata2') Metadata2
		.ui.simple.dropdown.item.computer_only
			| Dropdown 
			i.dropdown.icon
			.menu
				a.item(href='#') Link Item
				a.item(href='#') Link Item
				.divider
				.header Header Item
				.item
					i.dropdown.icon
					| Sub Menu
					.menu
						a.item(href='#') Link Item
						a.item(href='#') Link Item
				a.item(href='#') Link Item
	.right.menu
		a.item(href='#') Log In
		.item.last
			a.ui.inverted.button Register



